.middle_wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;

  .box_left {
    position: absolute;
    width: 50%;
    height: 100%;
    // left: 5%;
    img {
      position: absolute;
      width: 60%;
      height: 60%;
      top: 55%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
  }
  .box_right {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;

    .content {
      position: absolute;
      top: 60%;
      left: 40%;
      transform: translate(-50%, -50%);
      p {
        font-size: 40px;
        font-weight: 600;
        text-align: left;
        font-family: 'Godo', sans-serif;
      }
      .bottom_line {        
        margin-top: 20px;
        height: 22px;
        width: 40%;
        border: 1px solid;
        border-radius: 30px;
        background-color: black;
      }
    }
  }
}