.mypage_tomato {
  position: relative;  
  width: 1050px;
  height: 500px;
  margin-top: 50px;
  border-color: red;
  
  .mypage_tomato_header{
    position: absolute;
    width: 346px;
    height: 51px;
    left: 35%;
    font-family: 'Godo', sans-serif;
    font-size: 30px;
    line-height: 51px;
    /* identical to box height */
    text-align: center;
    font-weight: 600;
    color: #000000;
  }
  #chart {
    // border: 1px solid;
    font-family: 'Godo', sans-serif;
    position: absolute;
    width: 400px;
    height: 100%;
    left: 33%;
    top: 5%;
    // transform: translate(-50%, -50%);
  }
  .tomato {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    img {
      position: absolute;
      width: 50%;
      height: 55%;
      top: 50%;      
      transform: translate(-50%, -50%);
    }
    .tomato_cnt {
      position: absolute;
      width: 50%;
      top: 54%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Godo', sans-serif;
      color: #fff;
      font-size: 50px;
      :last-child {
        font-size: 30px;
      }
    }
  }
}