
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$head-font: 'Godo', sans-serif;
$content-font: 'Didact Gothic', sans-serif;

.signup_body {
  padding: 50px;
  height: 90%;
  max-width: 1300px;
  display: inline-block;    
  position: relative;       

  .circle {
    z-index: 0;
    position: absolute;
    width: 400px;
    height: 400px; 
    left: -10%;
    top: 2%;
    border-radius: 70%;
    background-color: #FF7676;
  }
  

  .rectangle {
    z-index: 0;
    position: absolute;
    width: 700px;
    height: 400px;
    top: 70%;
    left: 70%;
    background-color: #FF7676;
    transform: rotate(20deg);
  }

  .signup_card {
    z-index: 2;
    position: relative;
    z-index: 10;
    width: 1300px;
    height: 700px;
    background: rgba(243, 241, 241, 0.8);
    border-radius: 50px;
    display: inline-block;
    overflow: hidden;           
    // border: 2px solid ;
    .signup_left {
      float: left;
      width: 60%;
      height: 100%;
      position: relative;
      
      .toMain {
        position: relative;                
        top: 4%;
        
        a {
          font-family: $head-font;
          text-align: left;
          color: black;
          font-size: 20px;
          line-height: 10px;
          position: relative;
          display: inline;            
          left: -41%;
          text-decoration: none;
          
          svg {
            position: relative;
            display: inline;
            vertical-align: middle;    
          }
          
          #text {
            margin-top: 1%;
            display: inline;
            vertical-align: middle; 
          }
        }
      }

      .signup_left_content {
        position: absolute;
        top: 20%;
        left: 30%;

          h2 {
          font-size: 60px; 
          font-family: $head-font;
          margin-bottom: 20px;
          }

          .profile_box {
            margin: auto;
            width: 230px;
            height: 230px; 
            border-radius: 70%;
            overflow: hidden;

            .profile {                    
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: relative;            
              
              background-repeat : no-repeat;
              background-size : cover;
            }              
          }
          .filebox input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
          }
          
          .filebox label {
            display: inline-block;
            padding: 10px 20px;
            color: rgb(221, 221, 221);
            vertical-align: middle;
            background-color: #E94846;
            cursor: pointer;
            border: 0;
            border-radius: 30px;
            margin-top: 20px;
            font-family: $head-font; 
            
          }
          
          /* named upload */
          .filebox .upload-name {
            display: inline-block;
            height: 35px;
            font-size:12px; 
            padding: 0 10px;
            vertical-align: middle;
            background-color: #f5f5f5;
            border: 1px solid #ebebeb;
            border-radius: 10px;            
          }
        }         
      }
    .signup_right {
      float: right;
      width: 40%;
      height: 100%;
      padding: 0%;
      background: rgba(255, 230, 219, 0.8);
      border-radius: 0px 50px 50px 0px;
      position: relative;

      .signup_right_content {
        position: absolute;
        top: 10%;
        left: 18%;
        width: 65%;

        h2 {
          font-family: $head-font; 
          font-size: 50px;
          margin: 20px;
        }
        span {
          font-family: $content-font;
          margin-bottom: 10px;
          font-weight: 600;
        }
        form {
          margin-top: 20px;
          div {
            overflow: hidden;
            input {
              height: 35px;
              width: 98%;
              background: #EDD9D9;
              border-radius: 50px;
              border: none;
              text-indent: 5%;
            }
            p {
              margin: 8px;
            }
          }
          footer {
            overflow: hidden;

            .checkword {
              height: 15px;
              width: 15px;
              
              margin-top: 25px;
              margin-bottom: 25px;
              font-size: 14px;
              background-color: #eee;

              font-family: $content-font;
              padding-left: 8px;
              border: 2px solid;
              display: inline-block;
              

              // &::before {
              //   content: '';
              //   position: absolute;
              //   width: 10px;
              //   height: 10px;
              //   border: 2px solid;
              //   left: 12%;
              //   top: 85.6%;
              // }
            }

          }
          button {
            border: none;
            background: #E94846;
            border-radius: 50px;
            width: 130px;
            height: 35px;
            cursor: pointer;            
            font-size: 18px;
            font-family: $head-font;
            color: #f0f0f0;       
          }
          p {
            margin: 10px;
            font-size: 12px;
            color: red;
          }
        }
      }
    }
  }
}

