.setting_header {
  position: absolute;
  width: 100%;
  height: 15%;

  img {
    position: absolute;
    width: 30%;
    left: 10%;
  }

  p {
    position: absolute;
    bottom: 30%;
    left: 20%;
    font-family: "ELAND_Choice_M";
    font-size: 20px;
  }
}

.setting_content {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;

  .setting_goal {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 172px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #F1EBEB;
    border-radius: 30px;

    p {
      font-size: 25px;
      margin-bottom: 30px;
    }

    #select_goal {
      width: 80%;
      height: 25%;
      bottom: 5%;
      background: #FFFFFF;

      font-size: 20px;
      font-family: 'Godo', sans-serif;
    }
  }

  .setting_time {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 45%;
    height: 172px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #F1EBEB;
    border-radius: 30px;

    p {
      font-size: 25px;
      margin-bottom: 30px;
    }

    #select_time {
      width: 80%;
      height: 25%;
      bottom: 5%;
      background: #FFFFFF;

      font-size: 20px;
      font-family: 'Godo', sans-serif;
    }

  }

}

.pomodoro_setting_btn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 35%;
  bottom: 5%;

  color: white;
  font-size: 20px;
  font-family: "Godo", sans-serif;
  background: #FF6262;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}