
.reference_content_sub {
  position: absolute;
  width: 995px;
  height: 878px;
  right: 0%;
  bottom: 0%;

  background: rgba(243, 241, 241, 0.8);
  border-radius: 30px;
}

.reference_content {
  position: absolute;
  width: 987px;
  height: 864px;
  right: 0%;
  bottom: 0%;

  overflow-y: scroll;
  overflow-x: hidden;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 30px;
}

.study_data {
  width: 930px;
  height: 106px;

  display: flex;
  justify-content: space-between;
  margin-left: 2%;

  border-bottom: 1px solid #000000;
  cursor: pointer;

  .study_data_title {
    margin-top: 4%;
    font-family: 'Godo', sans-serif;
    font-size: 30px;
  }

  .study_data_writer {

    font-family: 'Godo', sans-serif;
    font-size: 20px;
    margin-top: 5%;

  }

}